@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.teamBox {
  width: 100%;           /* Full width */
  max-width: 350px;      /* Limit the max width */
  height: 80px;          /* Uniform height */
  border-radius: 8px;    /* Rounded corners */
  padding: 16px;         /* Padding */
  display: flex;         /* Flex for alignment */
  align-items: center;   /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

